@media (min-width: 768px) {
    .view {
        overflow: visible;
        margin-top: -56px;
    }
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}

html,
body,
header,
.view {
  height: 100%;
  overflow-x: hidden;
}

.view {
    background: no-repeat center center;
    background-size: cover;
}

.slide{
    width: 100%;
    height: 100vh;
    z-index: 1;
    padding: 0;
    margin: 0;
    border: 0;
    position: relative;
}

.navbar {
    z-index: 3;
}
.navbar {
    background-color: transparent;
}
.top-nav-collapse {
    background-color: #4285F4;
}

.one{
    width: 100%;
    height: 100%;
    position: relative;
}

.ipad{
    width: 100%;
    height: 50vh;
    position: relative;
    background: url('https://static.re-store.ru/upload/iblock/f85/f8500848e340b2e4d2186160610e80ed.jpg')no-repeat center center;
    background-size: contain;
}

.iphone{
    width: 100%;
    height: 50vh;
    position: relative;
    background: url('https://static.re-store.ru/upload/iblock/b01/b013dee2cf61e65a5d74121db48e9659.png')no-repeat center center;
    background-size: contain;
}

.iwatch{
    width: 100%;
    height: 50vh;
    position: relative;
    background: url('https://static.re-store.ru/upload/iblock/34a/34a7164c1cc85bb4baf092277913afac.png')no-repeat center center;
    background-size: contain;
}

.ipod{
    width: 100%;
    height: 50vh;
    position: relative;
    background: url('https://static.re-store.ru/upload/iblock/4ce/4ce95ef306f3e2e3efd9664796efcf24.png')no-repeat center center;
    background-size: contain;
}

.macbook{
    width: 100%;
    height: 50vh;
    position: relative;
    background: url('https://static.re-store.ru/upload/iblock/8f6/x2-494-340-8f6eae49ce03ba7e8f2a86324457aa21.jpg')no-repeat center center;
    background-size: contain;
}

.imac{
    width: 100%;
    height: 50vh;
    position: relative;
    background: url('https://static.re-store.ru/upload/iblock/8b9/8b974cc690bebdc6b3baf53ffaaa6660.jpg')no-repeat center center;
    background-size: contain;
}

.blocks-slots{
    transition: 1s;
}

.blocks-slots:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, .7);
    border-radius: 10px;
}

.left-block-blog{
    width: 100%;
    height: 50vh;
    position: relative;
    background: url('https://im0-tub-ru.yandex.net/i?id=f9799c8b4100685a8a5b0cb380e9314b-l&n=13')no-repeat center center;
    background-size: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, .7);
    border-radius: 10px;
}

.right-block-blog{
    width: 100%;
    height: 50vh;
    position: relative;
    background: url('https://static.re-store.ru/upload/iblock/366/366c6e3f7612cf1aa6a03cc76d59f803.jpg')no-repeat center center;
    background-size: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, .7);
    border-radius: 10px;
}

.btn-block-blog{
    position: relative;
    top: 20vh;
}

.contacts-form{
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, .7);
    border-radius: 10px;
}

.fz20{
    font-size: 2em;
}

.fz12{
    font-size: 1.2em;
}